* {
    margin: 0;
    padding: 0;
    font-family: 'Hind Siliguri', sans-serif;
    
}

body{
    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

 body::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(238, 227, 203, 0.3);
    position: fixed;
}


main{
    position: relative;
}

.nav-color{ 
    background-color: #967E76;
}

.nav-img{
    width: 65px;
    height: 65px;
}

.text-size{
    font-size: 30px;
}



.lista-li {
    margin: auto;
}

.index-pituquerias {
    position: absolute;
    height: 100%;
    text-align: center;
}


.index-titulo {
    text-align: center;
    font-size: 60px;
    padding: 10px;
    background-color: #D7C0AE;
    font-family: 'Dancing Script', cursive;
}

.index-p{
    display: flex;
    width: 50%;
    margin: 50px auto;
    text-align: center;
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
}

.index-pituquerias img {
    width: 200px;
    height: 200px;
}

.pituquerias-logo{
    border-radius: 100px;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.container-contact{
    position: absolute;
    width: 100%;
    height: 100%;
}

.contact{
    font-size: 50px;
    background-color: #D7C0AE;
    padding: 5px;
}

.contact-network {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
}

.contact-network-items{
    font-family: 'Dancing Script', cursive;
}

.contact-network-items a {
    display: flex;
    width: 100px;
    height: 100px;
}

.contact-me {
    display: flex;
    margin-top: 10%;
}

.contact-data {
    list-style: none;
    font-size: 50px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

.contact-data-items{
    font-weight: bold;
}

.text-title{
    font-size: 70px;
    font-family: 'Hind Siliguri', sans-serif; 
}

.text-description{
    font-size: 40px;
    font-family: 'Hind Siliguri', sans-serif;
}

.carousel-image{
    height: 600px;
}
.shop-container{
    padding: 50px;
}