* {
    margin: 0;
    padding: 0;
    font-family: 'Hind Siliguri', sans-serif;
    
}

body{
    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-color{ 
    background-color: #967E76;
}

.nav-img{
    width: 65px;
    height: 65px;
}

.text-size{
    font-size: 30px;
}


.lista {
    list-style: none;
    display: flex;
    font-size: 35px;
    justify-content: space-around;
    width: 100%;
}
.lista-li {
    margin: auto;
}

.inicio-pituquerias {
    position: absolute;
    height: 100vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.pitu-logo{
    width: 200px;
    height: 200px;
}

.inicio-titulo {
    text-align: center;
    font-size: 60px;
    padding: 10px;
    background-color: #D7C0AE;
    font-family: 'Dancing Script', cursive;
}

.inicio-p{
    display: flex;
    width: 50%;
    margin: 50px auto;
    text-align: center;
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
    color: #EEE3CB;
}


.inicio-pituquerias img {
    width: 200px;
    height: 200px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: #967E76;
    z-index: 10;
}

/* .img-instagram {
    position: absolute;
    right: 0;
    width: 35px;
    height: 35px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.img-facebook {
    position: relative;
    left: 96%;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.copyright {
    position: absolute;
    bottom: 0;
} */

.tienda{
    background-color: rgba(0, 0, 0, 0.3);
}

.contenido-tienda {
    width: 100%;
    height: 100%;
}


.titulo-tienda {
    position: absolute;
    text-align: center;
    font-size: 60px;
    padding: 10px;
    width: 100%;
    background-color: #D7C0AE;
    font-family: 'Dancing Script', cursive;
}

.nuestros-productos{
    font-size: 30px;
}

.personalizar-pedido{
    font-size: 30px;
}

.lista-tienda {
    position: relative;
    left: 5%;
    width: 100%;
    margin-top: 5%;
    list-style: none;
    display: inline-block;
    font-size: 25px;
}

.lista-tienda li {
    display: inline-block;
}

.lista-personalizar {
    position: relative;
    left: 5%;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    justify-content: space-around;
    display: inline-block;
    font-size: 25px;
    padding: 10px;
}



img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.colgantes-artesanales img {
    display: inline-block;
    width: 250px;
    height: 250px;
}

.guirnaldas img {
    display: inline-block;
    width: 500px;
    height: 250px;
}

.flores-tela img {
    display: inline-block;
    width: 260px;
    height: 250px;
}

.titeres img {
    display: inline-block;
    width: 250px;
    height: 250px;
}

.box-hogar img {
    display: inline-block;
    width: 250px;
    height: 250px;
}

.box-infante img {
    display: inline-block;
    width: 250px;
    height: 250px;
}

.perfuminas img {
    display: inline-block;
    width: 250px;
    height: 250px;
}

.bolsitas-artesanales img {
    display: inline-block;
    width: 250px;
    height: 250px;
}

.contenedor-contacto{
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
}

.contacto {
    font-size: 50px;
    background-color: #D7C0AE;
    padding: 5px;
}

.contacto-redes {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
}

.contacto-redes-items{
    font-family: 'Dancing Script', cursive;
}

.contacto-redes-items a {
    display: flex;
    width: 100px;
    height: 100px;
}

.contacto-particular {
    display: flex;
    margin-top: 10%;
}

.contacto-datos {
    list-style: none;
    font-size: 50px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
    color: #EEE3CB;
}

.contacto-datos-items{
    font-weight: bold;
}



.sobre-pituquerias {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 60px;
    font-style: italic;
    background-color: #D7C0AE;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 0;
}


.info-sobre-nosotros {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
}


.info-sobre-nosotros-p {
    font-size: 40px;
    padding-top: 10%;
    margin-left: 10px;
    font-family: 'Dancing Script', cursive;
    color:#EEE3CB;
}

.info-sobre-nosotros img {
    width: 600px;
    height: 600px;
    margin: 50px;
}